*.dbgconf
*.uvguix.s.*
*.lst
*.d
*.o
*.crf
*.csv.log
*.log.csv
*.dep
*.htm
*.log
*.txt
*.ipch
*.i
*._i
*.__i
*.exe
*.elf
*.bin
*.hex
*.s19
*.s28
*.s37
*.ihx
*.fail
*.pass
*.skip
*.ok
.svn
/build
/tmp
